# Arquivos de build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds

# NuGet
*.nupkg
# As arquivos packages podem ser ignorados caso esteja usando o NuGet restore
**/[Pp]ackages/*
# exceto o build/ folder que é usado para projetos MSBuild
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Entity Framework
*.mdf
*.ldf
*.ndf
Migrations/

# Arquivos de configuração específicos de ambiente local
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
!appsettings.json

# Ferramentas e outros
.JustCode
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
.axoCover/*
!.axoCover/settings.json
coverage*.xml
coverage*.info
*.coverage
.coverage
.coveragexml
_NCrunch_*
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Outros
.DS_Store
Thumbs.db
*.bak